<!DOCTYPE html>
<html>
  <head>
    <title>Testrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "home", "/" %>
    <% if user_signed_in? %>
       <p>Hi, <%= link_to current_user.email  , user_show_path %></p>
       <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "signin", new_user_session_path %>
      <%= link_to "signup", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
